.SettingsTab{

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

}

.name{

    display: flex;
    

}
.url{

    display: flex;
    

}

.namein{

    margin-left: 350px;

}
.urlin{

    margin-left: 350px;

}

.icon{

    width: 20vw;

}